{% extends 'shuyuadmin/table_obj_index.html' %}
{% load tags %}

{% block page-head %}
                <div id="page-head">
                        <div id="page-title">
                            <h1 class="page-header text-overflow">{% get_table_name2 app_name table_name %}</h1>
                        </div>
                        <!--Breadcrumb-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <ol class="breadcrumb">
                        <li><a href="/shuyuadmin/"><i class="demo-pli-home"></i></a></li>
                        <li><a href="/shuyuadmin/">首页</a></li>
                        <li><a href="/shuyuadmin/{{ app_name }}/{{ table_name }}">{% get_table_name2 app_name table_name %}</a></li>
                        <li><a href="/shuyuadmin/{{ app_name }}/{{ table_name }}/add">添加</a></li>
                        </ol>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End breadcrumb-->
                </div>
{% endblock %}


{% block head %}
    <!--Switchery [ OPTIONAL ]-->
    <link href="/statics/plugins/switchery/switchery.min.css" rel="stylesheet">


    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="/statics/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">


    <!--Bootstrap Tags Input [ OPTIONAL ]-->
    <link href="/statics/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.css" rel="stylesheet">


    <!--Chosen [ OPTIONAL ]-->
    <link href="/statics/plugins/chosen/chosen.min.css" rel="stylesheet">


    <!--noUiSlider [ OPTIONAL ]-->
    <link href="/statics/plugins/noUiSlider/nouislider.min.css" rel="stylesheet">


    <!--Select2 [ OPTIONAL ]-->
    <link href="/statics/plugins/select2/css/select2.min.css" rel="stylesheet">


    <!--Bootstrap Timepicker [ OPTIONAL ]-->
    <link href="/statics/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">


    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <link href="/statics/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
{% endblock %}

{% block page-content %}
    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">
					    <div class="panel">
					        <div class="panel-body">
					            <div class="panel-heading">
					                <h3 class="panel-title">{% get_table_name2 app_name table_name %}-添加记录</h3>
					            </div>
                                <hr>
                                 <form class="panel-body form-horizontal form-padding" method="post">
                                 {% csrf_token %}
                                    {% for field in dynamic_form %}
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                            <div class="col-md-9">
                                                {{ field }}
                                                <small class="text-pink">{% get_errors_message errors field.name %}</small>
                                            </div>
					                    </div>
                                    {% endfor %}
                                 <div class="col-md-1 pull-right">
                                     <input class="btn btn-primary" type="submit" value="保存">
                                 </div>
                                 </form>
					        </div>
					    </div>

                        <!--Default Bootstrap Modal-->
                        <!--===================================================-->
                        <div class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!--Modal header-->
                                    <div class="modal-header">
                                        <h4 class="modal-title">点击图标进行选择</h4>
                                    </div>

                                    <!--Modal body-->
                                    <div class="modal-body">

                                                                <div class="nano" style="height:360px">
                                                                    <div class="nano-content">
                                                                        <div class="clearfix demo-icon-list">
                                                                                 {% for icon in icons %}
                                                                                <div class="col-sm-1 col-md-2">
                                                                                    <div class="demo-icon" ><i id="id-demo-icon" data-dismiss="modal" class="{{ icon.name }}" onclick="choose_icons('{{ icon.name }}')"></i></div>
                                                                                </div>
                                                                                {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--===================================================-->
                        <!--End Default Bootstrap Modal-->



                </div>
    <!--===================================================-->
    <!--End page content-->
{% endblock %}

{% block menu %}
                                 <!--Category name-->
                                <ul id="mainnav-menu" class="list-group">
                                    {% for id, menu in my_menu.items %}
                                        {% if menu.status %}
                                            <li class="{% get_menu_active_class my_menu table_name id %}">
                                                <a href="#">
                                                    <i class="{{ menu.icon }}"></i>
                                                    <span class="menu-title">{{ menu.title }}</span>
                                                    <i class="arrow"></i>
                                                </a>


                                                <!--Submenu-->
                                                <ul class="collapse">
                                                    {% for children_menu in menu.children %}
                                                        {% for sub_id, sub_menu in children_menu.items %}
                                                            {% if  sub_menu.status %}
                                                                <li class="{% get_menu_url_active_class my_menu table_name sub_id %}"><a href="/shuyuadmin/{{ sub_menu.app_name }}/{{ sub_menu.table_name }}">{{ sub_menu.title }}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                </ul>

{% endblock %}

{% block javascript %}

 <!--=================================================-->

    <!--Switchery [ OPTIONAL ]-->
    <script src="/statics/plugins/switchery/switchery.min.js"></script>


    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="/statics/plugins/bootstrap-select/bootstrap-select.min.js"></script>


    <!--Bootstrap Tags Input [ OPTIONAL ]-->
    <script src="/statics/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>


    <!--Chosen [ OPTIONAL ]-->
    <script src="/statics/plugins/chosen/chosen.jquery.min.js"></script>


    <!--noUiSlider [ OPTIONAL ]-->
    <script src="/statics/plugins/noUiSlider/nouislider.min.js"></script>


    <!--Select2 [ OPTIONAL ]-->
    <script src="/statics/plugins/select2/js/select2.min.js"></script>


    <!--Bootstrap Timepicker [ OPTIONAL ]-->
    <script src="/statics/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>


    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <script src="/statics/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>


    <!--Form Component [ SAMPLE ]-->
    <script src="/statics/js/demo/form-component.js"></script>
    <!--Modals [ SAMPLE ]-->
    <script src="/statics/js/demo/ui-modals.js"></script>
            <script>
        $(document).ready(function () {
            $("#id_icon").on('click', function () {
                $('#demo-default-modal').css('display', "Block");
                $('#demo-default-modal').addClass('in');
                let div = $("<div class='modal-backdrop fade in' ></div>");
                $('body').append(div);
                $('body').addClass('modal-open');
            });
        });

        function f_submit() {
            if(confirm("请确认修改！")){
                return true;
            }
        };

        function choose_icons(icon_text) {
                $('#id_icon').attr('value', icon_text);
                $('#demo-default-modal').css('display', "none");
                $('#demo-default-modal').removeClass('in');
                $('div').remove('.modal-backdrop.fade.in');
                $('body').removeClass('modal-open');

            };
    </script>
{% endblock %}