{% extends 'shuyuadmin/table_obj_index.html' %}
{% load tags %}

{% block page-head %}
                <div id="page-head">
                        <div id="page-title">
                            <h1 class="page-header text-overflow">{% get_table_name2 app_name table_name %}</h1>
                        </div>
                        <!--Breadcrumb-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <ol class="breadcrumb">
                        <li><a href="/shuyuadmin/"><i class="demo-pli-home"></i></a></li>
                        <li><a href="/shuyuadmin/">首页</a></li>
                        <li><a href="/shuyuadmin/{{ app_name }}/{{ table_name }}">{% get_table_name2 app_name table_name %}</a></li>
                        <li><a href="/shuyuadmin/{{ app_name }}/{{ table_name }}/show/{{ obj_id }}">查看</a></li>
                        </ol>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End breadcrumb-->
                </div>
{% endblock %}

{% block head %}

    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="/statics/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">

{% endblock %}

{% block page-content %}
    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">

					    <div class="panel">
					        <div class="panel-body">
					            <div class="panel-heading">
					                <h3 class="panel-title">{% get_table_name2 app_name table_name %}-查看记录</h3>
					            </div>
                                <hr>
                                 <form class="panel-body form-horizontal form-padding" method="post">
                                    {% for field in show_form %}
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                            <div class="col-md-9">
                                                {{ field }}
                                                <small class="help-block"></small>
                                            </div>
					                    </div>
                                    {% endfor %}
                                 </form>
					        </div>
					    </div>
                </div>
    <!--===================================================-->
    <!--End page content-->
{% endblock %}

{% block menu %}
                                 <!--Category name-->
                                <ul id="mainnav-menu" class="list-group">
                                    {% for id, menu in my_menu.items %}
                                        {% if menu.status %}
                                            <li class="{% get_menu_active_class my_menu table_name id %}">
                                                <a href="#">
                                                    <i class="{{menu.icon}}"></i>
                                                    <span class="menu-title">{{ menu.title }}</span>
                                                    <i class="arrow"></i>
                                                </a>


                                                <!--Submenu-->
                                                <ul class="collapse">
                                                    {% for children_menu in menu.children %}
                                                        {% for sub_id, sub_menu in children_menu.items %}
                                                            {% if  sub_menu.status %}
                                                                <li class="{% get_menu_url_active_class my_menu table_name sub_id %}"><a href="/shuyuadmin/{{ sub_menu.app_name }}/{{ sub_menu.table_name }}">{{ sub_menu.title }}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                </ul>

{% endblock %}

{% block javascript %}


    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="/statics/plugins/bootstrap-select/bootstrap-select.min.js"></script>



    <!--Form Component [ SAMPLE ]-->
    <script src="/statics/js/demo/form-component.js"></script>
{% endblock %}